@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 20px 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.logo h1{
    color: rgb(255, 106, 0);
    font-weight: 400;
}
.nav-item ul{
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 1.2rem;
    cursor: pointer;
}

.nav-item li{
    /* border: 1px solid black; */
    padding: 5px 10px 5px 10px;
}

.nav-item li:hover{
    color: rgb(255, 106, 0);
    text-decoration: underline;
}

/* Home section  */

.home-div{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 100px 250px 20px 300px;
}

.info-section{
    width: 500px;
}

.info-section h1{
    font-size: 3.3rem;
}

.info-section p{
    margin-top: 20px;
    font-size: 1.2rem;
}

.menu-h{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.menu-item{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}


/* contact styling */

.contact-c {
    margin-top: 40px;
    max-width: 400px;
    margin: 100px auto 0;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-c h1 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #ff6a00;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e05600;
}

/* menu section */

.menuBox {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.menu-h {
    color: #333;
}

.menu-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.menu-item {
    width: 45%;
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item h2 {
    margin-bottom: 8px;
    color: #333;
}

.menu-item p {
    margin: 0;
    color: #666;
}

/* Responsive Styles
@media (max-width: 768px) {
    .menu-item {
        width: 100%;
    }
} */


